.row.marketing
  .col-lg-9
    .h1 About WiMap
    %p
    %img(src="/assets/about_cropped.png")
    %p
    %p We are a group of Northeastern Students with backgrounds in engineering, science, and business. Our team is small but effective, with the expertise required for both frontend and backend development. WiMap is still too small to warrant expansion of the team or even official positions.