<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
.jumbotron
  .h1 Indoor Navigation for the Modern Age
  %p.lead It really whips Llama's ass.
  %p <a class="btn btn-lg btn-success" href="#" role="button">Contact Us</a>


.row.marketing
  .col-lg-6
    .h4 Super Sexy
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

    .h4 Such Nav
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

    .h4 Winner of a Large Check</h4>
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.

  .col-lg-6
    .h4 Voted Most Likely to Tame Lions in High School</h4>
    %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

    .h4 Subheading
    %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

    .h4 Subheading
    %p Maecenas sed diam eget risus varius blandit sit amet non magna.
