.container{:id => "header"}
  .header
    %ul.nav.nav-pills.pull-right
      %li <a href="#">Home</a></li>
      %li <a href="#">About</a>
      %li <a href="#">Contact</a>
      %li= link_to('<i class="fa fa-twitter fa-2x"></i>'.html_safe, "https://twitter.com/WiMapNav", :target => "_blank")
      %li= link_to('<i class="fa fa-facebook-square fa-2x"></i>'.html_safe, "https://www.facebook.com/WiMapNav", :target => "_blank")
    %h2.text-muted WiMap

